<center><h1>TRAVLR</h1>
  <h3>Sign Up Below:</h3>

  <%= form_tag users_path do %>
    <label>Username:</label><br>
    <%= text_field_tag :'user[username]' %><br>

    <label>Password:</label><br>
    <%= text_field_tag :'user[password]' %><br>

    <%= submit_tag "Sign Up" %>
  <% end %>
