<%= render "layouts/header" %>

<center><h1>TRAVLR.</h1>
  <h3>Travlr's most travelled!</h3>
<ul>
   <% @users.number_of_trips.each do |user| %>
  <li>  <%= user.name  %></li>
  <br>
  <% end %>
</ul>
<br>
<p>Add new adventures after creating a trip.</p>
  <%= render "layouts/footer" %>
