<center><h1>TRAVLR</h1>
  <center><h3>Track your Adventures, Share your Story.</h3>



  <%= link_to "Log In", login_path %>
  ... if you don't have an account,
  <%= link_to "Sign Up", signup_path %>
