<center><h1>TRAVLR</h1>
  <center><h3>Track your Adventures, Share your Story.</h3>


  <h3><%= link_to "LOG IN", sessions_new_path %></h3>
  <p>Don't have an account? <%= link_to "SIGN UP", signup_path %></p>
  <br>
  <br>

  
