<!DOCTYPE html>
<html>
<head>
  <style>

  html {color: white;
        font-family: "Impact";
        letter-spacing: 3px;
        font-size: 1.2em;
      }
  h1 {font-size: 3em}
  body {background-size: cover;
        background-repeat: no-repeat;}
  a { color: white}
  .login {background-color: black;
          background: rgba(0, 0, 0, 0.7);
          margin-top: 350px;
          padding-top: 5px;
          padding-bottom: 5px;
          }
  </style>
</head>
<body background= "https://edge.alluremedia.com.au/m/g/2016/01/rio-de-janeiro-sunset.jpg">
<center><h1>TRAVLR.</h1>
  <center><h2>Track your Adventures, Share your Story.</h2>

<div class= "login">
  <h3><%= link_to "LOG IN", sessions_new_path %></h3>
  <h3><%= link_to('LOG IN WITH FACEBOOK!', '/auth/facebook') %></h3>
  <p>Don't have an account? <%= link_to "SIGN UP", signup_path %></p>
</div>
</body>
</html>
