<%= render "layouts/header" %>

<center><h1>TRAVLR.</h1>
  <h3>All your adventures!</h3>
<left><ul>
   <% @places.each do |place| %>
  <li>  <%= link_to place.name, user_trip_place_path(current_user, @trip, place) %></li>
  <% end %>
</ul>
<br>
<p>Add new adventures after creating a trip.</p>
  <%= render "layouts/footer" %>
