<h1>TRAVLR</h1>
<h3>Your Adventures:</h3>

<% @places.each do |place| %>
  <div><%= link_to place.name, place_path(place) %>
  </div>
  <div><%= place.memory %></div>
<% end %>
<br>
<h4>You have been on <%= @places.all.count %> awesome adventures! Keep it up!</h4>

<%= render 'layouts/footer' %>
